@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    color: rgba(0,0,0,.87);
    font-size: 14px;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    width: 80%;
}

h2 {
    margin-top: 20px;
    padding-bottom: 20px;
}

p {
    line-height: 24px;
    padding-top: 20px;
}